{% extends "bootstrap/base.html" %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}


{% block title %}
Home
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>HomeChecker</h1>
  <p>Some sub-header stuff goes here.</p> 
</div>


<div class="container">
{% for light_name, curr_status in light_sensors.items() %}
    <div class="row">
        <div class="col-xs-6 float-left">
            {{light_name}}: 
            <a href="{{ url_for('show_light_info', light_name=light_name)}}">
                {{curr_status}}
{% if curr_status == 'ON' %}
                <img src="{{url_for('static', filename='images/light-bulb-ON.png')}}" width="50" alt="ON"/>
{% else %}
                <img src="{{url_for('static', filename='images/light-bulb-OFF.png')}}" width="50" alt="OFF"/>
{% endif %}
            </a>
        </div>
    </div>
{% endfor %}
{% for temp_name, curr_temp in temp_sensors.items() %}
    <div class="row">
        <div class="col-xs-6 float-left">
            {{temp_name}}: 
            <a href="{{ url_for('show_temp_info', temp_name=temp_name)}}">
                {{curr_temp}} °F
            </a>
        </div>
    </div>
{% endfor %}
</div>


<!-- (Light bulb icon: Idea by Ilsur Aptukov from the Noun Project) -->

{% endblock %}